<section class="offer-area" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="single-offer">
                    <div class="thumb">
                        <a href="shop-single-product.html">
                            <img src="~/images/main/shop/offer-1.webp" alt="Alan-Shop">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="single-offer">
                    <div class="thumb">
                        <a href="shop-single-product.html">
                            <img src="~/images/main/shop/offer-2.webp" alt="Alan-Shop">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>