<section class="product-area latest-product-area" data-aos="fade-up" data-aos-duration="1000">
   <div class="container">
      <div class="row">
         <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center">
               <h2 class="title">Latest product</h2>
               <p>Our latest item collection of 2021</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="swiper-container product4-slider-container">
            <div class="swiper-wrapper">
               <div class="swiper-slide">
                  <div class="product-item">
                     <div class="product-thumb">
                        <a href="shop-single-product.html">
                           <img src="~/images/main/shop/1.png" alt="Alan-Shop">
                           <div class="ribbons">
                              <span class="ribbon ribbon-hot">Sale</span>
                              <span class="ribbon ribbon-onsale align-right">-15%</span>
                           </div>
                        </a>
                        <div class="product-action">
                           <a class="action-wishlist" href="shop-wishlist.html" title="Wishlist">
                           <i class="ion-android-favorite-outline"></i>
                           </a>
                           <a class="action-quick-view" href="javascript:void(0);" title="Quick View">
                           <i class="ion-ios-search-strong"></i>
                           </a>
                           <a class="action-cart" href="#/">
                           <i class="fa fa-opencart"></i>
                           </a>
                        </div>
                     </div>
                     <div class="product-info">
                        <h4 class="title"><a href="shop-single-product.html">1. New and sale badge pro...</a></h4>
                        <div class="prices">
                           <span class="price">$110.00</span>
                           <del class="price-old">$130.00</del>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="product-item">
                     <div class="product-thumb">
                        <a href="shop-single-product.html">
                        <img src="~/images/main/shop/2.webp" alt="Alan-Shop">
                        </a>
                        <div class="product-action">
                           <a class="action-wishlist" href="shop-wishlist.html" title="Wishlist">
                           <i class="ion-android-favorite-outline"></i>
                           </a>
                           <a class="action-quick-view" href="javascript:void(0);" title="Quick View">
                           <i class="ion-ios-search-strong"></i>
                           </a>
                           <a class="action-cart" href="#/">
                           <i class="fa fa-opencart"></i>
                           </a>
                        </div>
                     </div>
                     <div class="product-info">
                        <h4 class="title"><a href="shop-single-product.html">2. New badge product</a></h4>
                        <div class="prices">
                           <span class="price">$80.00</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="product-item">
                     <div class="product-thumb">
                        <a href="shop-single-product.html">
                        <img src="~/images/main/shop/3.png" alt="Alan-Shop">
                        </a>
                        <div class="product-action">
                           <a class="action-wishlist" href="shop-wishlist.html" title="Wishlist">
                           <i class="ion-android-favorite-outline"></i>
                           </a>
                           <a class="action-quick-view" href="javascript:void(0);" title="Quick View">
                           <i class="ion-ios-search-strong"></i>
                           </a>
                           <a class="action-cart" href="#/">
                           <i class="fa fa-opencart"></i>
                           </a>
                        </div>
                     </div>
                     <div class="product-info">
                        <h4 class="title"><a href="shop-single-product.html">11. Product with video</a></h4>
                        <div class="prices">
                           <span class="price">$39.00</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="product-item">
                     <div class="product-thumb">
                        <a href="shop-single-product.html">
                           <img src="~/images/main/shop/4.webp" alt="Alan-Shop">
                           <div class="ribbons">
                              <span class="ribbon ribbon-hot">Sale</span>
                              <span class="ribbon ribbon-onsale align-right">-18%</span>
                           </div>
                        </a>
                        <div class="product-action">
                           <a class="action-wishlist" href="shop-wishlist.html" title="Wishlist">
                           <i class="ion-android-favorite-outline"></i>
                           </a>
                           <a class="action-quick-view" href="javascript:void(0);" title="Quick View">
                           <i class="ion-ios-search-strong"></i>
                           </a>
                           <a class="action-cart" href="#/">
                           <i class="fa fa-opencart"></i>
                           </a>
                        </div>
                     </div>
                     <div class="product-info">
                        <h4 class="title"><a href="shop-single-product.html">3. Variable product</a></h4>
                        <div class="prices">
                           <span class="price">$70.00</span>
                           <del class="price-old">$85.00</del>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="product-item">
                     <div class="product-thumb">
                        <a href="shop-single-product.html">
                           <img src="~/images/main/shop/5.png" alt="Alan-Shop">
                           <div class="ribbons">
                              <span class="ribbon-soldout">Soldout</span>
                           </div>
                        </a>
                        <div class="product-action">
                           <a class="action-wishlist" href="#/" title="Wishlist">
                           <i class="ion-android-favorite-outline"></i>
                           </a>
                           <a class="action-quick-view" href="javascript:void(0);" title="Quick View">
                           <i class="ion-ios-search-strong"></i>
                           </a>
                           <a class="action-cart" href="#/">
                           <i class="fa fa-opencart"></i>
                           </a>
                        </div>
                     </div>
                     <div class="product-info">
                        <h4 class="title"><a href="shop-single-product.html">4. Soldout product</a></h4>
                        <div class="prices">
                           <span class="price">$19.00</span>
                           <del class="price-old">$29.00</del>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="product-item">
                     <div class="product-thumb">
                        <a href="shop-single-product.html">
                        <img src="~/images/main/shop/6.png" alt="Alan-Shop">
                        <span class="ribbon ribbon-hot">Sale</span>
                        <span class="ribbon ribbon-onsale align-right">-35%</span>
                        </a>
                        <div class="product-action">
                           <a class="action-wishlist" href="shop-wishlist.html" title="Wishlist">
                           <i class="ion-android-favorite-outline"></i>
                           </a>
                           <a class="action-quick-view" href="javascript:void(0);" title="Quick View">
                           <i class="ion-ios-search-strong"></i>
                           </a>
                           <a class="action-cart" href="#/">
                           <i class="fa fa-opencart"></i>
                           </a>
                        </div>
                        <div class="countdown-content">
                           <ul class="countdown-timer">
                              <li>
                                 <span class="days">00</span>
                                 <p class="days_text">Days</p>
                              </li>
                              <li>
                                 <span class="hours">00</span>
                                 <p class="hours_text">Hour</p>
                              </li>
                              <li>
                                 <span class="minutes">00</span>
                                 <p class="minutes_text">Mint</p>
                              </li>
                              <li>
                                 <span class="seconds">00</span>
                                 <p class="seconds_text">Sec</p>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="product-info">
                        <h4 class="title"><a href="shop-single-product.html">8. Countdown product</a></h4>
                        <div class="prices">
                           <span class="price">$39.00</span>
                           <del class="price-old">$60.00</del>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>