@{
    ViewData["Title"] = "Контакты";
}
<section class="for-distributors-area" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <h1>Контакты</h1>
        <h5>Обслуживающие организации: ООО &laquo;Факториал-Урал&raquo; ИНН 7452077682, ИП Лузан М.Ю., ИП Лещев С.В.</h5>
        <h3>Головной офис</h3>
        <p><strong>Адрес:</strong>&nbsp;пр. Ленина, д. 2К&nbsp;</p>
        <p><strong>Телефон:</strong>&nbsp;+7 (351) 239-94-51&nbsp;(многоканальный с автоответчиком)</p>
        <p><strong>Электронная почта:</strong>&nbsp;<a href="mailto:abon@factorial.ru">abon@factorial.ru</a></p>
        <p><strong>Электронная почта:</strong>&nbsp;<a href="mailto:company@factorial.ru">company@factorial.ru</a></p>
        <p><strong>Режим работы:</strong>&nbsp;(без перерыва)</p>
        <ul>
            <li>Пн-Чт с 9:00 до 18:00</li>
            <li>Пт с 9:00 до 17:00</li>
            <li>Сб первая и третья недели месяца с 9:00 до 14:00</li>
            <li>Вс выходной</li>
            <li>&nbsp;</li>
        </ul>
        <h2>Мы в социальных сетях</h2>
        <p><strong>Официальная группа &laquo;ВКонтакте&raquo;:</strong>&nbsp;<a href="https://vk.com/factorial_domofon" rel="noopener" target="_blank">vk.com/factorial_domofon</a></p>
        <p>&nbsp;</p>
        <h2>Города присутствия организаций, обслуживающих домофонные системы производства Факториал</h2>
        <ul>
            <li>Екатеринбург</li>
            <li>Иркутск</li>
            <li>Магнитогорск</li>
            <li>Междуреченск</li>
            <li>Новокузнецк</li>
            <li>Новосибирск</li>
            <li>Оренбург</li>
            <li>Самара</li>
        </ul>
        <h2>&nbsp;</h2>
    </div>
</section>