@{
    ViewData["Title"] = "Дистрибьюторам";
}
<section class="for-distributors-area" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <h1><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#e67e22">Дистрибьюторам</span></span></h1>

        <h3><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Мы приглашаем Вас стать нашим дистрибьютором по установке и обслуживанию домофонных систем &laquo;Факториал&raquo;!</span></span></h3>

        <p>&nbsp;</p>

        <h3><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Для обновления и модернизации домофонного фонда компания &laquo;Факториал&raquo; запустила производство домофонных систем нового поколения, с использованием RFID технологии.</span></span></h3>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Преимущества RFID-технологии:</span></span></p>

        <ul>
            <li><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Отсутствие изнашивающихся частей в системе ключа, и ключевого устройства.&nbsp;</span></span></li>
            <li><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Повышенная устойчивость к кинематическим и вандальным воздействиям.&nbsp;</span></span></li>
            <li><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Увеличенный срок службы. Защита от воздействия внешних факторов.&nbsp;</span></span></li>
            <li><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Индивидуальный код ключа для каждого пользователя.&nbsp;</span></span></li>
            <li><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Объем встроенной памяти домофонной панели позволяет хранить до 1500 номеров ключей.</span></span></li>
            <li><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Привлекательный внешний вид.&nbsp;</span></span></li>
            <li><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">В отличие от повсеместно используемых Proximity брелоков и карт, RFID брелок (ключ) отличается повышенной надежностью, благодаря тому, что в его конструкции отсутствуют магнитные катушки и паяные соединения, которые в большинстве случаев являются причиной неисправности.&nbsp;</span></span></li>
            <li><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Оригинальный протокол связи обеспечивает защиту от несанкционированного копирования.&nbsp;</span></span></li>
        </ul>

        <p>&nbsp;</p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">С 2013 года &laquo;Факториал&raquo; запускает производство новых квартирных аппаратов:</span></span></p>

        <ul>
            <li><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Новый современный дизайн&nbsp;</span></span></li>
            <li><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Высококачественная пластмасса&nbsp;</span></span></li>
            <li><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Функция &laquo;тихий режим&raquo;</span></span></li>
        </ul>

    </div>
</section>