@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<section class="privacy-policy-area" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <h1><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">Политика конфиденциальности</span></span></h1>

        <h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">I. ОБЩИЕ ПОЛОЖЕНИЯ</span></span></h2>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">1.1. В целях гарантирования выполнения норм федерального законодательства в полном объеме ООО &laquo;Факториал&raquo; (далее &ndash; Оператор) считает своими задачами соблюдение принципов законности, справедливости и конфиденциальности при обработке персональных данных, а также обеспечение безопасности процессов их обработки.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">1.2. Настоящая политика в области обработки и защиты персональных данных в ООО &laquo;Факториал&raquo; (далее &ndash; политика) характеризуется следующими признаками:</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">1.2.1. Разработана в целях обеспечения реализации требований законодательства РФ в области обработки персональных данных субъектов персональных данных (физическое лицо, которое прямо или косвенно определено или определяемо с помощью персональных данных).</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">1.2.2. Раскрывает основные категории персональных данных, обрабатываемых оператором, цели, способы и принципы обработки оператором персональных данных, права и обязанности оператора при обработке персональных данных, права субъектов персональных данных, а также включает перечень мер, применяемых оператором в целях обеспечения безопасности персональных данных при их обработке.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">1.2.3. Является общедоступным документом, декларирующим концептуальные основы деятельности оператора при обработке персональных данных.</span></span></p>

        <h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">II. ОПРЕДЕЛЕНИЯ</span></span></h2>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.1. Биометрические персональные данные &mdash; сведения, которые характеризуют физиологические и биологические особенности человека, на основании которых можно установить его личность и которые используются оператором для установления личности субъекта персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.2. Блокирование персональных данных &mdash; временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.3. Доступ к информации (доступ) &mdash; ознакомление с информацией, ее обработка, в частности, копирование, модификация или уничтожение информации.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.4. Информационная система персональных данных (далее &ndash; ИСПДн) &mdash; совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.5. Несанкционированный доступ (НСД) &ndash; доступ к информации, хранящейся на различных типах носителей (бумажных, магнитных, оптических и т. д.) в компьютерных базах данных, файловых хранилищах, архивах, секретных частях и т. д. различных организаций путём изменения (повышения, фальсификации) своих прав доступа.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.6. Носитель информации &ndash; любой материальный объект или среда, используемый для хранения или передачи информации.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.7. Персональные данные (далее &ndash; ПДн) &mdash; любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.8. Оператор ПДн &mdash; государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.9. Обработка персональных данных &mdash; любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.10. Предоставление персональных данных &mdash; действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.11. Распространение персональных данных &mdash; действия, направленные на раскрытие персональных данных неопределенному кругу лиц.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.12. Специальные категории персональных данных &mdash; категории персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.13. Субъект персональных данных &mdash; физическое лицо, которое прямо или косвенно определено или определяемо с помощью персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.14. Трансграничная передача персональных данных &mdash; передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому лицу или иностранному юридическому лицу.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">2.15. Уничтожение персональных данных &mdash; действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.</span></span></p>

        <h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">III. ИНФОРМАЦИЯ ОБ ОПЕРАТОРЕ</span></span></h2>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">3.1. Наименование: Общество с ограниченной ответственностью &laquo;Факториал&raquo;</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">3.2. ИНН: 7452025652</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">3.3. Фактический адрес: 454091, город Челябинск, проспект Ленина, дом 2К</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">3.4. Тел., факс: 8 (351) 239-94-51</span></span></p>

        <h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">IV. ПРАВОВЫЕ ОСНОВАНИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</span></span></h2>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.1. Политика Оператора в области обработки персональных данных определяется в соответствии со следующими нормативными правовыми актами:</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.1.1. Конституцией Российской Федерации.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.1.2. Трудовым кодексом Российской Федерации.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.1.3. Гражданским кодексом Российской Федерации.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.1.4. Федеральным законом от 19.12.2005 №160-ФЗ &laquo;О ратификации Конвенции Совета Европы о защите физических лиц при автоматизированной обработке персональных данных&raquo;.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.1.5. Федеральным законом от 27.07.2006 №152-ФЗ &laquo;О персональных данных&raquo;.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.1.6. Федеральным законом от 27.07.2006 №149-ФЗ &laquo;Об информации, информационных технологиях и о защите информации&raquo; и др.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.2. Во исполнение настоящей Политики руководящим органом Оператора утверждены следующие локальные нормативные правовые акты:</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.2.1. Положение об обработке персональных данных с использованием средств автоматизации.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.2.2. Положение о порядке обработки персональных данных без использования средств автоматизации.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.2.3. Регламент резервного копирования и восстановления данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.2.4. Инструкция о порядке работы с персональными данными.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.2.5. Акт определения уровня защищенности информационной системы персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.2.6. Инструкция администратора безопасности информационных систем персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.2.7. Инструкция ответственного за организацию обработки персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.2.8. Инструкция пользователя информационной системы персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">4.2.9. Типовая форма согласия субъектов на обработку персональных данных и др.</span></span></p>

        <h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">V. ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</span></span></h2>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">5.1. Оператор обрабатывает персональные данные исключительно в следующих целях:</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">5.1.1. Исполнения положений нормативных актов.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">5.1.2. Принятия решения о трудоустройстве кандидата у Оператора.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">5.1.3. Заключения и выполнения обязательств по трудовым договорам, договорам гражданско-правового характера и договорам с контрагентами.</span></span></p>

        <h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">VI. КАТЕГОРИИ ОБРАБАТЫВАЕМЫХ ПЕРСОНАЛЬНЫХ ДАННЫХ</span></span></h2>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">6.1. В информационных системах персональных данных оператора обрабатываются следующие категории персональных данных:</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">6.1.1. Персональные данные сотрудников.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">6.1.2. Персональные данные контрагентов (и их представителей).</span></span></p>

        <h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">VII. ОСНОВНЫЕ ПРИНЦИПЫ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</span></span></h2>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">7.1. Оператор в своей деятельности обеспечивает соблюдение принципов обработки персональных данных, указанных в ст.5 Федерального закона 152-ФЗ &laquo;О персональных данных&raquo;.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">7.2. Оператор не осуществляет обработку биометрических персональных данных (сведения, которые характеризуют физиологические и биологические особенности человека, на основании которых можно установить его личность и которые используются оператором для установления личности субъекта персональных данных).</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">7.3. Оператор не выполняет обработку специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">7.4. Оператор не производит трансграничную (на территории иностранного государства органу власти иностранного государства, иностранному физическому лицу или иностранному юридическому лицу) передачу персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">7.5. Оператором созданы общедоступные источники персональных данных (справочники, адресные книги). Персональные данные, сообщаемые субъектом (фамилия, имя, отчество, год и место рождения, адрес и др.), включаются в такие источники только с письменного согласия субъекта персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">7.6. Оператором не используются для обработки персональных данных базы данных, находящиеся за пределами границ Российской Федерации.</span></span></p>

        <h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">VIII. СВЕДЕНИЯ О ТРЕТЬИХ ЛИЦАХ, УЧАСТВУЮЩИХ В ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</span></span></h2>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">8.1. В целях соблюдения законодательства РФ, для достижения целей обработки, а также в интересах и с согласия субъектов персональных данных Оператор в ходе своей деятельности предоставляет персональные данные следующим организациям:</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">8.1.1. Федеральной налоговой службе</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">8.1.2. Пенсионному фонду России</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">8.1.3. Страховым компаниям</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">8.1.4. ПАО &laquo;Сбербанк России&raquo; (г. Челябинск, ул. Энтузиастов 9А)</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">8.1.5. Лицензирующим и/или контролирующим органам государственной власти и местного самоуправления</span></span></p>

        <h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">IX. МЕРЫ ПО ОБЕСПЕЧЕНИЮ БЕЗОПАСНОСТИ ПЕРСОНАЛЬНЫХ ДАННЫХ ПРИ ИХ ОБРАБОТКЕ</span></span></h2>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">9.1. Оператор при обработке персональных данных принимает все необходимые правовые, организационные и технические меры для их защиты от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, предоставления, распространения, а также от иных неправомерных действий в отношении них. Обеспечение безопасности персональных данных достигается, в частности, следующими способами:</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">9.1.1. Назначением ответственных за организацию обработки персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">9.1.2. Осуществлением внутреннего контроля и/или аудита соответствия обработки персональных данных ФЗ от 27.07.2006 №152-ФЗ &laquo;О персональных данных&raquo; и принятым в соответствии с ним нормативным правовым актам, требованиям к защите персональных данных, локальным актам.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">9.1.3. Ознакомлением работников Оператора, непосредственно осуществляющих обработку персональных данных, с положениями законодательства РФ о персональных данных, в том числе с требованиями к защите персональных данных, локальными актами в отношении обработки персональных данных, и (или) обучением указанных сотрудников.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">9.1.4. Определением угроз безопасности персональных данных при их обработке в информационных системах персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">9.1.5. Применением организационных и технических мер по обеспечению безопасности персональных данных при их обработке в информационных системах персональных данных, необходимых для выполнения требований к защите персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">9.1.6. Оценкой эффективности принимаемых мер по обеспечению безопасности персональных данных до ввода в эксплуатацию информационной системы персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">9.1.7. Учетом машинных носителей персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">9.1.8. Выявлением фактов несанкционированного доступа к персональным данным и принятием соответствующих мер.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">9.1.9. Восстановлением персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">9.1.10. Установлением правил доступа к персональным данным, обрабатываемым в информационной системе персональных данных, а также обеспечением регистрации и учета всех действий, совершаемых с персональными данными в информационной системе персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">9.1.11. Контролем за принимаемыми мерами по обеспечению безопасности персональных данных и уровнем защищенности информационной системы персональных данных.</span></span></p>

        <h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">X. ПРАВА СУБЪЕКТОВ ПЕРСОНАЛЬНЫХ ДАННЫХ</span></span></h2>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">10.1. Субъект персональных данных имеет право на получение сведений об обработке его персональных данных Оператором.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">10.2. Субъект персональных данных вправе требовать от Оператора, который их обрабатывает, уточнения этих персональных данных, их блокирования или уничтожения в случае, если они являются неполными, устаревшими, неточными, незаконно полученными или не могут быть признаны необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">10.3. Право субъекта персональных данных на доступ к его персональным данным может быть ограничено в соответствии с федеральными законами.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">10.4. Для реализации своих прав и защиты законных интересов субъект персональных данных имеет право обратиться к Оператору. Тот рассматривает любые обращения и жалобы со стороны субъектов персональных данных, тщательно расследует факты нарушений и принимает все необходимые меры для их немедленного устранения, наказания виновных лиц и урегулирования спорных и конфликтных ситуаций в досудебном порядке.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">10.5. Субъект персональных данных вправе обжаловать действия или бездействие Оператора путем обращения в уполномоченный орган по защите прав субъектов персональных данных.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">10.6. Субъект персональных данных имеет право на защиту своих прав и законных интересов, в том числе на возмещение убытков и/или компенсацию морального вреда в судебном порядке.</span></span></p>

        <h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">XI. КОНТАКТНАЯ ИНФОРМАЦИЯ</span></span></h2>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">11.1. Ответственным за организацию обработки и обеспечения безопасности персональных данных у Оператора назначен Анодин Александр Михайлович.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">11.2. Уполномоченным органом по защите прав субъектов персональных данных является федеральная служба по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор), управление по защите прав субъектов персональных данных.</span></span></p>

        <p>
            <span style="font-family:Trebuchet MS,Helvetica,sans-serif">
                <span style="color:#242424">
                    Управление Роскомнадзора по Челябинской области:<br />
                    Адрес: 454000, г. Челябинск, ул. Энгельса, 44д<br />
                    Тел.: (351) 240-11-41<br />
                    E-mail: rsockanc74@rkn.gov.ru<br />
                    Сайт: 74.rkn.gov.ru
                </span>
            </span>
        </p>

        <h2><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">XII. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</span></span></h2>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">12.1. Настоящая политика является внутренним документом Оператора, общедоступной и подлежит размещению на официальном сайте Оператора.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">12.2. Настоящая политика подлежит изменению, дополнению в случае появления новых законодательных актов и специальных нормативных документов по обработке и защите персональных данных, но не реже одного раза в три года.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">12.3. Контроль исполнения требований настоящей политики осуществляется ответственным за организацию обработки персональных данных Оператора.</span></span></p>

        <p><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><span style="color:#242424">12.4. Ответственность должностных лиц Оператора, имеющих доступ к персональным данным, за невыполнение требований норм, регулирующих обработку и защиту персональных данных, определяется в соответствии с законодательством Российской Федерации и внутренними документами Оператора.</span></span></p>

    </div>
</section>
