<section class="newsletter-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 m-auto" data-aos="fade-up" data-aos-duration="1000">
                <div class="section-title text-center">
                    <h2 class="title">Join to our Newsletter</h2>
                    <p>If you never miss our interesting news by joining our newsletter.</p>
                </div>
                <form class="input-btn-group">
                    <input class="form-control" type="text" placeholder="Enter your e-mail">
                    <button class="btn btn-theme btn-black" type="button">Subscribe!</button>
                </form>
            </div>
        </div>
    </div>
</section>