<section class="newsletter-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 m-auto" data-aos="fade-up" data-aos-duration="1000">
                <div class="section-title text-center">
                    <h2 class="title">Присоединяйтесь к нашей рассылке новостей</h2>
                    <p>Если вы никогда не пропустите наши интересные новости, подписавшись на нашу рассылку.</p>
                </div>
                <form class="input-btn-group">
                    <input class="form-control" type="text" placeholder="Введите адрес электронной почты">
                    <button class="btn btn-theme btn-black" type="button">Подписаться!</button>
                </form>
            </div>
        </div>
    </div>
</section>