<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("TitlePartial")
    @await Html.PartialAsync("IconPartial")
    @await Html.PartialAsync("CssPartial")
    @if (IsSectionDefined("StylePage"))
    {
        @await RenderSectionAsync("StylePage")
    }
</head>
<body>
<div class=" container-scroller">
   @await Html.PartialAsync("NavBarPartial")
   <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
         @await Html.PartialAsync("SideBarParial")
         <div class="content-wrapper">
               @RenderBody()
         </div>
         @await  Html.PartialAsync("FooterPartial")
      </div>
   </div>
</div>
@await Html.PartialAsync("ScriptsPartial")
@if(IsSectionDefined("ScriptPage"))
{
    @await RenderSectionAsync("ScriptPage")
}
</body>
</html>

